<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>M/M/1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body class="w3-container w3-white">
    <%- include('header'); %>
    <div class="w3-display-container w3-display-topmiddle" style="width:70%">
        <br>
        <ul class="w3-ul w3-card-4">
            <li class="w3-bar w3-blue">
                <div class="w3-bar-item"><h2>Results:</h2></div>
            </li>
            <li class="w3-bar">
                <div class="w3-bar-item"><h2>&lambda; = <%= lambda %></h2></div>
            </li>
            <li class="w3-bar">
                <div class="w3-bar-item"><h2>&mu; = <%= mu %></h2></div>
            </li>
            <li class="w3-bar">
                <div class="w3-bar-item"><h2>t = <%= t %></h2></div>
            </li>
            <li class="w3-bar">
                <div class="w3-bar-item"><h2>&rho; = <%= p %></h2></div>
            </li>
            <li class="w3-bar">
                <div class="w3-bar-item"><h2>P<sub>n</sub> = <%= pn %></h2></div>
            </li>
            <li class="w3-bar">
                <div class="w3-bar-item"><h2>L<sub>s</sub> = <%= ls %></h2></div>
            </li>
            <li class="w3-bar">
                <div class="w3-bar-item"><h2>W<sub>s</sub> = <%= ws %></h2></div>
            </li>
            <li class="w3-bar">
                <div class="w3-bar-item"><h2>L<sub>q</sub> = <%= lq %></h2></div>
            </li>
            <li class="w3-bar">
                <div class="w3-bar-item"><h2>W<sub>q</sub> = <%= wq %></h2></div>
            </li>
            <li class="w3-bar">
                <div class="w3-bar-item"><h2>L = <%= l %></h2></div>
            </li>
            <li class="w3-bar">
                <div class="w3-bar-item"><h2>p<sub>0</sub> = <%= p0 %></h2></div>
            </li>
            <li class="w3-bar">
                <div class="w3-bar-item"><h2>P(W<sub>q</sub>>t) = <%= pt %></h2></div>
            </li>
            <li class="w3-bar">
                <div class="w3-bar-item"><h2>P(W<sub>s</sub>>t) = <%= pe %></h2></div>
            </li>                                                                                                                  
        </ul>
        <br>
    </div>
</body>
</html>