<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Primer Parcial</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body class="w3-container w3-white">
    <%- include('header'); %>
    <div class="w3-display-container w3-display-topmiddle" style="width:70%">
        <br>
        <ul class="w3-ul w3-card-4">
            <li class="w3-bar w3-blue">
                <div class="w3-bar-item"><h2>Results:</h2></div>
            </li>

            <li class="w3-bar">
                <div class="w3-bar-item"><h2>T = <%= T %></h2></div>
            </li>
            <li class="w3-bar">
                <div class="w3-bar-item"><h2>N = <%= N %></h2></div>
            </li>
            <li class="w3-bar">
                <div class="w3-bar-item"><h2>C = <%= C %></h2></div>
            </li>
            <li class="w3-bar">
                <div class="w3-bar-item"><h2>R = <%= R %></h2></div>
            </li>
             <li class="w3-bar">
                <div class="w3-bar-item"><h2>Rm = <%= Rm %></h2></div>
            </li>
            <li class="w3-bar">
                <div class="w3-bar-item"><h2>Uk = <%= Uk %></h2></div>
            </li>
            <li class="w3-bar">
                <div class="w3-bar-item"><h2>Rmem = <%= Rmem %></h2></div>
            </li>
             <li class="w3-bar">
                <div class="w3-bar-item"><h2>x = <%= x %></h2></div>
            </li>
            <li class="w3-bar">
                <div class="w3-bar-item"><h2>Z = <%= Z %></h2></div>
            </li>
             <li class="w3-bar">
                <div class="w3-bar-item"><h2>n = <%= n %></h2></div>
            </li>
            <li class="w3-bar">
                <div class="w3-bar-item"><h2>Dk = <%= Dk %></h2></div>
            </li>
                                                                                                              
        </ul>
        <br>
    </div>
</body>
</html>