<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Segundo Parcial</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body class="w3-container w3-white">
    <%- include('header'); %>
    <div class="w3-display-container w3-display-topmiddle" style="width:70%">
        <br>
        <ul class="w3-ul w3-card-4">
            <li class="w3-bar w3-blue">
                <div class="w3-bar-item"><h2>Input values:</h2></div>
            </li>

            <li class="w3-bar">
                <div class="w3-bar-item"><h2>T = <%= t %></h2></div>
            </li>
            <li class="w3-bar">
                <div class="w3-bar-item"><h2>B_cpu = <%= B_cpu %></h2></div>
            </li>
            <li class="w3-bar">
                <div class="w3-bar-item"><h2>B_fast_disk = <%= B_fast_disk %></h2></div>
            </li>
            <li class="w3-bar">
                <div class="w3-bar-item"><h2>B_slow_disk = <%= B_slow_disk %></h2></div>
            </li>
                <li class="w3-bar">
                <div class="w3-bar-item"><h2>C = <%= C %></h2></div>
            </li>
            <li class="w3-bar">
                <div class="w3-bar-item"><h2>C_fast_disk = <%= C_fast %></h2></div>
            </li>
            <li class="w3-bar">
                <div class="w3-bar-item"><h2>C_slow_disk = <%= C_slow %></h2></div>
            </li>
            <li class="w3-bar">
                <div class="w3-bar-item"><h2>Z = <%= z %></h2></div>
            </li>                                                                
        </ul>

        <ul class="w3-ul w3-card-4">
            <li class="w3-bar w3-blue">
                <div class="w3-bar-item"><h2>Output values:</h2></div>
            </li>

            <li class="w3-bar">
                <div class="w3-bar-item"><h2>D1 = <%= D1 %></h2></div>
            </li>
            <li class="w3-bar">
                <div class="w3-bar-item"><h2>D2 = <%= D2 %></h2></div>
            </li>
            <li class="w3-bar">
                <div class="w3-bar-item"><h2>D3 = <%= D3 %></h2></div>
            </li>
            <li class="w3-bar">
                <div class="w3-bar-item"><h2>V2 = <%= V2 %></h2></div>
            </li>
            <li class="w3-bar">
                <div class="w3-bar-item"><h2>V3 = <%= V3 %></h2></div>
            </li>
            <li class="w3-bar">
                <div class="w3-bar-item"><h2>S2 = <%= S2 %></h2></div>
            </li>
            <li class="w3-bar">
                <div class="w3-bar-item"><h2>S3 = <%= S3 %></h2></div>
            </li>
            <li class="w3-bar">
                <div class="w3-bar-item"><h2>newV2 = <%= newVisits2 %></h2></div>
            </li>
            <li class="w3-bar">
                <div class="w3-bar-item"><h2>newV3 = <%= newVisits3 %></h2></div>
            </li>
            
        </ul>
        <br>
    </div>
</body>
</html>